body,
html {
    background: #efefef;
    margin: 0;
    height:100%;
}

.side-menu {
    background: white;
    border-right: 1px solid lightgray;
    height: 100%;
    padding: 3rem;
    box-sizing: border-box;
}

.side-menu img {
    width: 100px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.side-menu ul {
    padding: 0;
    margin:0;
    list-style: none
}

.canvas-container {
    background: white;
    box-shadow: 0 1px 2px #ccc;
}

.return {
    padding: 1rem;
    color: white;
    background: #188ae2;
}

.canvas-body {
    padding:1rem;
    margin:0;
}

.canvas-footer {
    background: #ff5b5b;
    color: white;
    padding: .5rem;
}
